# Pandas cookbook

[Youtube Playlist Link](https://www.youtube.com/watch?v=eRpFC2CKvao&index=1&list=PLyBBc46Y6aAz54aOUgKXXyTcEmpMisAq3)

[Notebook Link](https://github.com/alfredessa/pdacookbook)

**Cookbook 1.1**

In [3]:
import pandas as pd
import numpy as np

# Lists

In [9]:
# Create a series
s1 = pd.Series([33, 19, 15, 89, 11, -5, 9])

In [10]:
#type of series
type(s1)

pandas.core.series.Series

In [11]:
#retrieve the values
s1.values

array([33, 19, 15, 89, 11, -5,  9])

In [12]:
s1.index

RangeIndex(start=0, stop=7, step=1)

In [15]:
#data and index as lists
data1 = [33, 19, 15, 89, 11, -5, 9]
index1 = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']

In [14]:
s2 = pd.Series(data1, index=index1)

In [18]:
# indexes
s2.index

Index([u'Mon', u'Tue', u'Wed', u'Thu', u'Fri', u'Sat', u'Sun'], dtype='object')

In [19]:
s2.name = 'Daily Temperatures'
s2.index.name = 'Weekday'

In [21]:
#with float
data2 = [33, 19.3, 15, 89, 11, -5, 9]
s3 = pd.Series(data2, index=index1)

s3

Mon    33.0
Tue    19.3
Wed    15.0
Thu    89.0
Fri    11.0
Sat    -5.0
Sun     9.0
dtype: float64

#Dictionary

In [22]:
dict1 = {'Mon': 33, 'Tue': 19, 'Wed': 15, 'Thu': 89, 'Fri': 11, 'Sat': -5, 'Sun': 9}

In [23]:
s4 = pd.Series(dict1)

In [24]:
s4

Fri    11
Mon    33
Sat    -5
Sun     9
Thu    89
Tue    19
Wed    15
dtype: int64

In [25]:
s4*2

Fri     22
Mon     66
Sat    -10
Sun     18
Thu    178
Tue     38
Wed     30
dtype: int64

In [26]:
np.log(s4)

Fri    2.397895
Mon    3.496508
Sat         NaN
Sun    2.197225
Thu    4.488636
Tue    2.944439
Wed    2.708050
dtype: float64

In [27]:
# slice using labels
s4['Thu':'Wed']

Thu    89
Tue    19
Wed    15
dtype: int64

In [28]:
s4[1:3]

Mon    33
Sat    -5
dtype: int64

In [29]:
s4[1]

33

In [30]:
s4[1] = 199

In [31]:
s4

Fri     11
Mon    199
Sat     -5
Sun      9
Thu     89
Tue     19
Wed     15
dtype: int64

In [32]:
s4.median()

15.0

In [33]:
s4.max()

199

In [34]:
s4.cumsum()

Fri     11
Mon    210
Sat    205
Sun    214
Thu    303
Tue    322
Wed    337
dtype: int64

In [37]:

for k,v in s4.iteritems():
    print k,v

Fri 11
Mon 199
Sat -5
Sun 9
Thu 89
Tue 19
Wed 15