In [1]:
import pandas as pd
import numpy as np

In [2]:
mlb = pd.read_csv('mlbsalaries.csv')

In [3]:
mlb.tail()

       Year          Player  Salary        Position              Team
19538  2011  Gustavo Molina  455000         Catcher  New York Yankees
19539  2011       Ivan Nova  432900         Pitcher  New York Yankees
19540  2011    Colin Curtis  420400      Outfielder  New York Yankees
19541  2011   Eduardo Nunez  419300       Shortstop  New York Yankees
19542  2011   Reegie Corona  414000  Second Baseman  New York Yankees

In [4]:
mlb.Year.value_counts()

1990    972
1999    919
2008    858
2001    857
2002    849
2007    848
1998    846
2011    843
2000    843
2004    833
2005    831
2010    828
2003    826
2006    823
2009    818
1995    805
1993    786
1997    773
1996    768
1992    753
1994    748
1991    720
1989    710
1988    686
Name: Year, dtype: int64

In [5]:
mlb.Player.value_counts()

Omar Vizquel          23
Tom Glavine           22
Ken Griffey Jr.       22
John Smoltz           22
Tom Gordon            21
Randy Johnson         21
Gary Sheffield        21
Greg Maddux           21
Ivan Rodriguez        20
David Wells           20
Barry Bonds           20
Jamie Moyer           20
Kenny Rogers          20
Jim Thome             19
Steve Finley          19
Craig Biggio          19
Mike Stanton          19
Curt Schilling        19
Trevor Hoffman        18
Matt Stairs           18
Chipper Jones         18
Frank Thomas          18
Tim Wakefield         18
Manny Ramirez         18
Roberto Hernandez     18
Mike Timlin           18
Roger Clemens         18
B.J. Surhoff          18
Arthur Rhodes         18
Rafael Palmeiro       18
                      ..
Anderson Garcia        1
Ryan Kohlmeier         1
Anthony Lerew          1
Don Baylor             1
Howard Hilton          1
Enrique Burgos         1
Tom O'Malley           1
Tommy Barrett          1
Jordan Walden          1
Steve Bieser           1
Scott Frederickson     1
Marcos Mateo           1
Paul Carey             1
Bobby Livingston       1
Eric Reed              1
Rontrez Johnson        1
Mauricio Robles        1
Nate Cromwell          1
Mat Gamel              1
Greg Carmona           1
Park Pittman           1
Charlie Kerfield       1
Jesse Foppert          1
Ruben Quevedo          1
Andy Tracy             1
Chris W.  Carter       1
Ricky Rhodes           1
Dave Bush              1
Chuck Malone           1
Jon Palmer             1
Name: Player, dtype: int64

In [6]:
mlb.Team.value_counts()

Texas Rangers            711
Los Angeles Dodgers      698
Los Angeles Angels       695
Philadelphia Phillies    695
St. Louis Cardinals      693
Cleveland Indians        693
Boston Red Sox           692
Milwaukee Brewers        690
Washington Nationals     687
New York Yankees         685
Baltimore Orioles        684
Seattle Mariners         684
Toronto Blue Jays        683
Atlanta Braves           683
Cincinnati Reds          681
San Francisco Giants     678
Detroit Tigers           676
New York Mets            676
Kansas City Royals       674
Oakland Athletics        674
San Diego Padres         673
Pittsburgh Pirates       669
Chicago Cubs             663
Houston Astros           660
Minnesota Twins          650
Chicago White Sox        648
Florida Marlins          533
Colorado Rockies         528
Tampa Bay Rays           398
Arizona Diamondbacks     389
Name: Team, dtype: int64

In [7]:
mlb.Position.value_counts()

Pitcher              9160
Outfielder           3785
Catcher              1664
Shortstop            1331
Second Baseman       1216
Third Baseman        1139
First Baseman        1118
Designated Hitter     109
Infielder              21
Name: Position, dtype: int64

In [12]:
yr2010 = mlb[mlb.Year == 2010]
yr2010.head()

       Year         Player    Salary    Position                Team
17872  2010   Torii Hunter  18500000  Outfielder  Los Angeles Angels
17873  2010    Bobby Abreu   9000000  Outfielder  Los Angeles Angels
17874  2010  Brian Fuentes   9000000     Pitcher  Los Angeles Angels
17875  2010   Scott Kazmir   8000000     Pitcher  Los Angeles Angels
17876  2010   Joel Pineiro   8000000     Pitcher  Los Angeles Angels

In [14]:
yr2010 = yr2010.set_index('Player')

In [15]:
yr2010.head()

               Year    Salary    Position                Team
Player
Torii Hunter   2010  18500000  Outfielder  Los Angeles Angels
Bobby Abreu    2010   9000000  Outfielder  Los Angeles Angels
Brian Fuentes  2010   9000000     Pitcher  Los Angeles Angels
Scott Kazmir   2010   8000000     Pitcher  Los Angeles Angels
Joel Pineiro   2010   8000000     Pitcher  Los Angeles Angels